body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #201533;
}

#app {
  display: flex;
  position: relative;
  width: 960px;
  height: 540px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@font-face {
  font-family: "KiwiSoda";
  src: url("assets/fonts/KiwiSoda.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.fontload {
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

